<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="robots" content="all,follow" />

    <meta name="author" content="All: ... [Nazev webu - www.url.cz]; e-mail: info@url.cz" />
    <meta name="copyright" content="Design/Code: Vit Dlouhy [Nuvio - www.nuvio.cz]; e-mail: vit.dlouhy@nuvio.cz" />

    <title>MisMuseos</title>
    <meta name="description" content="..." />
    <meta name="keywords" content="..." />

    <link rel="index" href="./" title="Home" />
    {% load static %}

    <link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'museos/css/main.css' %}" />

    {% load static %}

    <link rel="stylesheet" media="print" type="text/css" href="{% static 'museos/css/print.css' %}" />

    {% load static %}

    <link rel="stylesheet" media="aural" type="text/css" href="{% static 'museos/css/aural.css' %}" />
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body id="www-url-cz">

<!-- Main -->
<div id="main" class="box">

    <!-- Header -->
    <div id="header">

        <!-- Logotyp -->
        <h1 id="logo"><a href="./" title="Mis Museos [Inicio]">Mis Museos<span></span></a></h1>
        <hr class="noscreen" />

        <!-- Quick links -->
        <div class="noscreen noprint">
            <p><em>Enlaces rápidos: <a href="#content">content</a>, <a href="#tabs">navigation</a>, <a href="#search">search</a>.</em></p>
            <hr />
        </div>

        <!-- Search -->
        <div id="login" class="noprint">
            {% if aut %}
                <form action="/logout" method="get">
                    <fieldset><legend>Logout</legend>
                        <span><h3>Logged in as {{ name }}</h3></span>
                        {% load static %}

                        <input type="image" src="{% static 'museos/design/search_submit.gif' %}" id="submit" value="OK" /></p>
                    </fieldset>
                </form>
            {% else %}
            <form action="/login" method="post">
                <fieldset><legend>Login</legend>
                    <p><label><span class="noscreen">Username:</span>
                    <span id="username-input-out"><input type="text" name="username" id="username-input" size="30" /></span></label></p>
                    <p><label><span class="noscreen">Password:</span>
                    <span id="password-input-out"><input type="password" name="password" id="password-input" size="30" /></span></label></p>
                    {% load static %}

                    <input type="image" src="{% static 'museos/design/search_submit.gif' %}" id="submit" value="OK" />
                </fieldset>
            </form>
            {% endif %}
        </div> <!-- /search -->

    </div> <!-- /header -->

     <!-- Main menu (tabs) -->
     <div id="tabs" class="noprint">

            <h3 class="noscreen">Navigation</h3>
            <ul class="box">

              {% block tabs %}{% endblock %}

            </ul>

        <hr class="noscreen" />
     </div> <!-- /tabs -->

    <!-- Page (2 columns) -->
    <div id="page" class="box">
    <div id="page-in" class="box">

        <div id="strip" class="box noprint">

            <!-- RSS feeds -->
            <p id="rss"><strong>RSS:</strong> <a href="#">articles</a> / <a href="#">comments</a></p>
            <hr class="noscreen" />

            <!-- Breadcrumbs -->
            <p id="breadcrumbs">Estás en: {% block indice %}{% endblock %}
            <hr class="noscreen" />

        </div> <!-- /strip -->

        <!-- Content -->
        <div id="content">

            {% block content %}{% endblock %}

        </div> <!-- /content -->

        <!-- Right column -->
        {% block column %}{% endblock %}

    </div> <!-- /page-in -->
    </div> <!-- /page -->

    <!-- Footer -->
    <div id="footer">
        <div id="top" class="noprint"><p><span class="noscreen">Back on top</span> <a href="#header" title="Back on top ^">^<span></span></a></p></div>
        <hr class="noscreen" />

        <p id="createdby">created by <a href="http://www.nuvio.cz">Nuvio | Webdesign</a> <!-- DON´T REMOVE, PLEASE! --></p>
        <p id="copyright">&copy; 2018 <a href="mailto:p.ariaspe@alumnos.urjc.es">Pedro Arias</a></p>
    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
