{% extends "museos/base.html" %}

{% block tabs %}

    <li id="active">Inicio<span class="tab-l"></span><span class="tab-r"></span></li> <!-- Active -->
    <li><a href="museos">Museos<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Usuarios<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="about">Sobre Mi<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>

{% endblock %}

{% block indice %}

    <strong>Inicio</strong></p>

{% endblock %}

{% block page_type %}page{% endblock %}

{% block content %}
<!-- Content -->
    {{ museos | safe }}

    {{ alert | safe }}


{% endblock %}


{% block column %}
    <div id="col" class="noprint">
        <div id="col-in">

        <!-- Opciones -->
        <h3><span>Opciones</span></h3>

        <div id="donwload" class="noprint">
            <form action="" method="POST">
                <fieldset><legend>Descargar</legend>
                    <label><span class="noscreen">Descargar:</span>
                    <input type="submit" value="Descargar">
                </fieldset>
            </form>
        </div>

        <div id="accesible" class="noprint">
            <form action="" method="POST">
                <fieldset><legend>Filtrar accesibilidad</legend>
                    <label><span class="noscreen">Accesible:</span>
                    <input type="submit" value="Accesible">
                </fieldset>
            </form>
        </div> <!-- /Opciones -->

          <!-- Usuarios -->
        <h3 ><span><a href="#">Usuarios</a></span></h3>

        <ul id="links">
              {{ usuarios | safe }}
        </ul>

        <hr class="noscreen" /> <!-- /Usuarios -->

        </div> <!-- /col-in -->
    </div> <!-- /col -->


{% endblock %}
