{% extends "museos/base.html" %}

{% block tabs %}

    <li><a href="/">Inicio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li id="active"><a href="/museos">Museos<span class="tab-l"></span><span class="tab-r"></span></a></li> <!-- Active -->
    <li><a href="/usuarios">Usuarios<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="/about">Sobre Mi<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>

{% endblock %}

{% block indice %}

    <a href="/">Inicio</a> &gt; <a href="/museos">Museos</a> &gt; <strong>{{ title | safe }}</strong></p>

{% endblock %}

{% block page_type %}page-white{% endblock %}


{% block content %}
<!-- Content -->
    <div id="title">
        <h1>{{ title | safe }}</h1>
    </div>

    <div>
        <form action="" method="POST">
            <input type="submit" value="Añadir">
        </form>
    </div>

    <div id="content">
      {{ content | safe }}
    </div>

    {% if aut %}
    <div>
        <form action="" method="POST">
            Nuevo comentario:<br>
            <input type="text" name="comentario"><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    {% endif %}


    <div id="comentarios">
      {{ comentarios | safe }}
    </div>
{% endblock %}


{% block column %}{% endblock %}
