{% extends "museos/base.html" %}

{% block tabs %}

    <li><a href="/">Inicio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li id="active"><a href="museos">Museos<span class="tab-l"></span><span class="tab-r"></span></a></li> <!-- Active -->
    <li><a href="#">Usuarios<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="about">Sobre Mi<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>

{% endblock %}

{% block indice %}

    <a href="/">Inicio</a> &gt; <strong>Museos</strong></p>

{% endblock %}

{% block content %}
<!-- Content -->
    <div id="title"><h1>Lista de Museos</h1></div>

    <div id="content">
      {{ content | safe }}
    </div>
{% endblock %}


{% block column %}
    <div id="col" class="noprint">
        <div id="col-in">

        <!-- Opciones -->
        <h3><span>Opciones</span></h3>

        <div id="select">
          <form action="/museos">
            {{ select | safe }}
            <input type="submit" value="Filtrar">
          </form>
        </div>

      </div> <!-- /col-in -->
  </div> <!-- /col -->

{% endblock %}
