{% extends "museos/base.html" %}

{% block tabs %}

    <li><a href="/">Inicio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="/museos">Museos<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li id="active"><a href="/usuarios">Usuarios<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="/about">Sobre Mi<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>

{% endblock %}

{% block indice %}

    <a href="/">Inicio</a> &gt; <strong>Usuarios</strong></p>

{% endblock %}

{% block page_type %}page-white{% endblock %}

{% block content %}
<!-- Content -->
    <div id="title"><h1>Lista de Usuarios</h1></div>

    <div id="content">
        {{ content | safe }}
    </div>

{% endblock %}


{% block column %}{% endblock %}
