{% extends "museos/base.html" %}

{% block tabs %}

    <li><a href="/">Inicio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="museos">Museos<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li id="active"><a href="#">Usuarios<span class="tab-l"></span><span class="tab-r"></span></a></li> <!-- Active -->
    <li><a href="about">Sobre Mi<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>

{% endblock %}

{% block rss %}

    <p id="rss"><strong>RSS:</strong> <a href="/{{ usuario | safe}}/xml">museos</a></p>
    <hr class="noscreen" />

{% endblock %}

{% block indice %}

    <a href="/">Inicio</a> &gt; <a href="#">Usuarios</a> &gt;  <strong>{{ usuario | safe }}</strong></p>

{% endblock %}

{% block page_type %}page-white{% endblock %}

{% block content %}
<!-- Content -->
    <div id="title">
        <h1>{{ title | safe }}</h1>
    </div>

    <div id="content">
      {{ content | safe }}
    </div>

    <div>
        <a href="/{{ usuario | safe}}/xml">XML</a>
    </div>
{% endblock %}


{% block column %}{% endblock %}
