{% extends "museos/base.html" %}

{% block tabs %}

    <li><a href="/">Inicio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="/museos">Museos<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li id="active"><a href="/usuarios">Usuarios<span class="tab-l"></span><span class="tab-r"></span></a></li> <!-- Active -->
    <li><a href="/about">Sobre Mi<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
    <li><a href="#">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>

{% endblock %}

{% block rss %}

    <p id="rss"><strong>RSS:</strong> <a href="/{{ usuario | safe}}/xml">museos</a></p>
    <hr class="noscreen" />

{% endblock %}

{% block indice %}

    <a href="/">Inicio</a> &gt; <a href="/usuarios">Usuarios</a> &gt;  <strong>{{ usuario | safe }}</strong></p>

{% endblock %}

{% block page_type %}page-white{% endblock %}

{% block content %}
<!-- Content -->
    <div id="title">
        <h1>{{ title | safe }}</h1>
    </div>

    {% if author %}
    <div>
        <form action="" method="POST">
            Nuevo nombre para la página:<br>
            <input type="text" name="pagina">
            <input type="submit" value="Cambiar"><br/>
        </form>
    </div>

    <div id="style">
        <form id="form-style" action="" method="POST">
            <br/>Nuevo estilo para la página:<br/>
            Tamaño letra:
            <input id="input" type="text" name="tam"><br/>
            Color fondo:
            <input id="input" type="text" name="color"><br/>
            <input type="submit" value="Cambiar"><br/>
        </form>
    </div>
    {% endif %}

    <p><div id="content">
        {{ content | safe }}
    </div></p>
{% endblock %}


{% block column %}{% endblock %}
